<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="geradorEtiquetas" connectionString="Server=localhost;Port=5432;Database=geradoretiquetas;User Id=postgres; Password=sqlprod;"/>
  </connectionStrings>
<appSettings>
  <add key="printerName" value="TLP2844"/>
</appSettings>
</configuration>